<%- include("header") %>

<div class="" style="display: flex; gap: 10px; flex-direction: column;">
    <%- include("add-form") %>
    <%- include("delete-form") %>
    <%- include("booked-rooms") %>
</div>
