<div class="container mt-4">
    <h1>Add Room</h1>
    <form action="/book-room" method="post">
        <div class="mb-3">
            <label class="form-label">User Name</label>
            <input type="text" class="form-control" id="uname" name="uname" aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
        <div class="mb-3">
            <label class="form-label">Meeting title</label>
            <input type="text" class="form-control" id="mtitle" name="mtitle" aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
          <label" class="form-label">Room Number</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label class="form-label">Duration</label>
          <input type="text" class="form-control" id="cap" name="duration">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
</div>